{% extends 'basic_common/base.html' %}
{% block content %}
<h1>基本示例5 -- 设置为单按钮并隐藏拖拽面板,在上传时显示上传等待图标</h1>
<label class="control-label">Select File</label>
<form method="post" role="form" enctype="multipart/form-data">
    <input id="input-5" name="input5[]" type="file" multiple class="file-loading">
</form>
<script>
$(document).on('ready', function() {
    $("#input-5").fileinput({showCaption: false});
});
</script>
{% endblock %}
{% block title %}
    基本示例5 -- 设置为单按钮并隐藏拖拽面板,在上传时显示上传等待图标
{% endblock %}
